openapi: 3.1.2
info:
  title: Gebeurtenis Abonnementen API Specificatie
  version: 1.0.0
servers:
  - url: https://probeerbrpapi.rvig.nl/api/brp
    description: BRP APIs probeeromgeving
paths:
  /abonnees:
    post:
      operationId: RegistreerAbonnee
      summary: Registreer een geauthenticeerde afnemer als nieuwe abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistreerAbonneeCommand'
      responses:
        '201':
          description: Afnemer succesvol geregistreerd als abonnee van BRP API Gebeurtenissen.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegAbonnees
      summary: Raadpleeg de abonnees van de afnemer
      tags:
        - Abonnees
      responses:
        '200':
          description: Lijst van abonnees succesvol opgehaald.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegAbonneesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
    delete:
      operationId: DeregistreerAbonnee
      summary: Ongedaan maken van een bestaande abonnee registratie, inclusief alle abonnementen van de abonnee
      tags:
        - Abonnees
      responses:
        '204':
          description: Abonnee succesvol gederegistreerd als abonnee van BRP API Gebeurtenissen.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/abonnementen:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
    post:
      operationId: AbonnementenCommands
      summary: Abonnementen commands uitvoeren voor een bestaande abonnee, zoals het abonneneren op gebeurtenis types van een persoon of opzeggen van abonnementen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbonnementenCommand'
      responses:
        '201':
          description: Abonnement(en) succesvol aangemaakt.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegAbonnementen
      summary: Raadpleeg de lijst van abonnementen van een abonnee
      tags:
        - Abonnees
      parameters:
        - $ref: '#/components/parameters/CursorQueryParameter'
        - $ref: '#/components/parameters/LimitQueryParameter'
      responses:
        '200':
          description: Lijst van abonnementen van de abonnee succesvol opgehaald.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegAbonnementenResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://probeerbrpapi.rvig.nl/realms/brp-api/protocol/openid-connect/token
          scopes: {}
  schemas:
    AbonneeNaam:
      type: string
      pattern: ^(?!.*--)[a-z][a-z-]{0,8}[a-z]$
      description: |
        De naam van de abonnee. 
        Moet voldoen aan de volgende regels:
          - Begint en eindigt met een kleine letter
          - Bevat minimaal 2 en maximaal 10 tekens
          - Bevat alleen kleine letters (a-z) en koppeltekens (-)
          - Bevat geen dubbele koppeltekens (--)
      example: abonnee
    Abonnee:
      type: object
      properties:
        naam:
          $ref: '#/components/schemas/AbonneeNaam'
          description: De naam van de abonnee, uniek voor een afnemer
    RaadpleegAbonneesResponse:
      type: object
      properties:
        abonnees:
          type: array
          items:
            $ref: '#/components/schemas/Abonnee'
          description: Lijst van abonnees van de afnemer
      required:
        - abonnees
    Foutbericht:
      type: object
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          type: string
          format: uri
        title:
          description: Beschrijving van de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-]{1,80}$
        status:
          type: integer
          minimum: 100
          maximum: 600
          description: Http status code
        detail:
          description: Details over de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-\(\),]{1,200}$
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          type: string
          format: uri
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
    RegistreerAbonneeCommand:
      type: object
      properties:
        abonneeNaam:
          $ref: '#/components/schemas/AbonneeNaam'
      required:
        - abonneeNaam
    InvalidParam:
      type: object
      description: Details over fouten in opgegeven parameters
      properties:
        type:
          type: string
          format: uri
          example: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
        name:
          description: Naam van de parameter
          type: string
          pattern: ^[a-zA-Z0-9\._]{1,30}$
          example: huisnummer
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
          example: integer
        reason:
          description: Beschrijving van de fout op de parameterwaarde
          type: string
          pattern: ^[a-zA-Z0-9\., ]{1,80}$
          example: Waarde is geen geldig getal.
    BadRequestFoutbericht:
      allOf:
        - $ref: '#/components/schemas/Foutbericht'
        - type: object
          properties:
            invalidParams:
              description: |
                Foutmelding per fout in een parameter. Alle gevonden fouten worden één keer teruggemeld.
              type: array
              items:
                $ref: '#/components/schemas/InvalidParam'
    Cursor:
      type: string
      format: uuid
      description: Identifier van een resource
    Limit:
      type: integer
      minimum: 1
      maximum: 10
      description: Het aantal resources dat in één response wordt teruggegeven.
    Abonnement:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unieke identifier van het abonnement
        type:
          type: string
      required:
        - id
        - type
      discriminator:
        propertyName: type
        mapping:
          AbonnementOpGebeurtenisTypeVanPersoon: '#/components/schemas/AbonnementOpGebeurtenisTypeVanPersoon'
    GebeurtenisTypeVanPersoonEnum:
      type: string
      pattern: ^[a-z/-/.]{1,50}$
      enum:
        - nl.brp.verhuisd.intergemeentelijk
        - nl.brp.verhuisd.naar-buitenland
        - nl.brp.overleden
    Burgerservicenummer:
      type: string
      title: Burgerservicenummer
      description: |
        Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer.
      pattern: ^[0-9]{9}$
    AbonnementOpGebeurtenisTypeVanPersoon:
      allOf:
        - $ref: '#/components/schemas/Abonnement'
        - type: object
          properties:
            gebeurtenisType:
              $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
              description: Het gebeurtenistype waarop de abonnee zich heeft geabonneerd
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen van het opgegeven type ontvangt
          required:
            - id
            - gebeurtenisType
            - burgerservicenummer
    RaadpleegAbonnementenResponse:
      type: object
      properties:
        abonnementen:
          type: array
          items:
            $ref: '#/components/schemas/Abonnement'
          description: Lijst van abonnementen van de abonnee
      required:
        - abonnementen
    AbonnementenCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          AbonneerOpGebeurtenisTypeVanPersoon: '#/components/schemas/AbonneerOpGebeurtenisTypeVanPersoonCommand'
          ZegOpAbonnementOpGebeurtenisTypeVanPersoon: '#/components/schemas/ZegOpAbonnementOpGebeurtenisTypeVanPersoonCommand'
          ZegOpAbonnementenOpPersoon: '#/components/schemas/ZegOpAbonnementenOpPersoonCommand'
    AbonneerOpGebeurtenisTypeVanPersoonCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          properties:
            gebeurtenisType:
              $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
              description: Het gebeurtenistype waarop de abonnee zich wil abonneren
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen van het opgegeven type wil ontvangen
          required:
            - gebeurtenisType
            - burgerservicenummer
    ZegOpAbonnementOpGebeurtenisTypeVanPersoonCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          description: Beëindigen van een 'gebeurtenis type van persoon' abonnement van een abonnee.
          properties:
            gebeurtenisType:
              $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
          required:
            - gebeurtenisType
            - burgerservicenummer
    ZegOpAbonnementenOpPersoonCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          description: Beëindigen van alle abonnementen op een persoon van een abonnee.
          properties:
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon van wie de abonnee geen gebeurtenissen meer wil ontvangen
          required:
            - burgerservicenummer
  responses:
    '400':
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestFoutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
            title: Ten minste één parameter moet worden opgegeven.
            status: 400
            detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: paramsRequired
            invalidParams:
              - type: https://www.vng.nl/realisatie/api/validaties/integer
                name: huisnummer
                code: integer
                reason: Waarde is geen geldig getal.
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
    '403':
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
            title: U bent niet geautoriseerd voor deze operatie.
            status: 403
            detail: The server understood the request, but is refusing to fulfill it.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: autorisation
    '404':
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
            title: Opgevraagde resource bestaat niet.
            status: 404
            detail: The server has not found anything matching the Request-URI.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notFound
    '500':
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
  parameters:
    AbonneeNaamPathParameter:
      name: abonneeNaam
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/AbonneeNaam'
        description: De naam van de abonnee
    CursorQueryParameter:
      name: cursor
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Cursor'
      description: Cursor query parameter die gebruikt kan worden voor paginering.
    LimitQueryParameter:
      name: limit
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Limit'
      description: Limit query parameter die gebruikt kan worden voor paginering.
