openapi: 3.1.2
info:
  title: Gebeurtenis Abonnementen API Specificatie
  version: 1.0.0
paths:
  /abonnees:
    post:
      operationId: RegistreerAbonnee
      summary: Registreer een geauthenticeerde afnemer als nieuwe abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistreerAbonneeCommand'
      responses:
        '201':
          description: Afnemer succesvol geregistreerd als abonnee van BRP API Gebeurtenissen.
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/abonnementen:
    post:
      operationId: AbonneerOpGebeurtenisTypeVanPersoon
      summary: Abonneer de abonnee op één of meerdere gebeurtenistypen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbonneerOpGebeurtenisTypeVanPersoonCommand'
      responses:
        '201':
          description: Abonnement(en) succesvol aangemaakt.
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: http://identityserver:6000/connect/token
          scopes: {}
  schemas:
    AbonneeCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          RegistreerAbonnee: '#/components/schemas/RegistreerAbonneeCommand'
    RegistreerAbonneeCommand:
      allOf:
        - $ref: '#/components/schemas/AbonneeCommand'
        - type: object
          properties:
            abonneeNaam:
              $ref: '#/components/schemas/AbonneeNaam'
          required:
            - abonneeNaam
    AbonnementenCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          AbonneerOpGebeurtenisTypeVanPersoon: '#/components/schemas/AbonneerOpGebeurtenisTypeVanPersoonCommand'
    AbonneerOpGebeurtenisTypeVanPersoonCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          properties:
            abonneeNaam:
              $ref: '#/components/schemas/AbonneeNaam'
              description: De naam van de abonnee
            gebeurtenisType:
              type: string
              pattern: ^[a-z/-/.]{1,50}$
              description: Het gebeurtenistype waarop de abonnee zich wil abonneren
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen van het opgegeven type wil ontvangen
          required:
            - abonneeNaam
            - gebeurtenisType
            - burgerservicenummer
    AbonneeNaam:
      type: string
      pattern: ^(?!.*--)[a-z][a-z-]{0,8}[a-z]$
      description: |
        De naam van de abonnee. 
        Moet voldoen aan de volgende regels:
          - Begint en eindigt met een kleine letter
          - Bevat minimaal 2 en maximaal 10 tekens
          - Bevat alleen kleine letters (a-z) en koppeltekens (-)
          - Bevat geen dubbele koppeltekens (--)
      example: abonnee
    Foutbericht:
      type: object
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          type: string
          format: uri
        title:
          description: Beschrijving van de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-]{1,80}$
        status:
          type: integer
          minimum: 100
          maximum: 600
          description: Http status code
        detail:
          description: Details over de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-\(\),]{1,200}$
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          type: string
          format: uri
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
    Burgerservicenummer:
      type: string
      title: Burgerservicenummer
      description: |
        Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer.
      pattern: ^[0-9]{9}$
  responses:
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
    '409':
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
            title: Conflict
            status: 409
            detail: The request could not be completed due to a conflict with the current state of the resource
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: conflict
    '500':
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
