openapi: 3.1.2
info:
  title: Gebeurtenis Abonnementen API Specificatie
  version: 1.0.0
servers:
  - url: https://probeerbrpapi.rvig.nl/api/brp
    description: BRP APIs probeeromgeving
paths:
  /abonnees:
    post:
      operationId: RegistreerAbonnee
      summary: Registreer een geauthenticeerde afnemer als nieuwe abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistreerAbonneeCommand'
      responses:
        '201':
          description: Abonnee succesvol geregistreerd.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegAbonnees
      summary: Raadpleeg de abonnees van de afnemer
      tags:
        - Abonnees
      responses:
        '200':
          description: Lijst van abonnees succesvol opgehaald.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegAbonneesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
    delete:
      operationId: DeregistreerAbonnee
      summary: Ongedaan maken van een bestaande abonnee registratie, inclusief alle abonnementen van de abonnee
      tags:
        - Abonnees
      responses:
        '204':
          description: Abonnee succesvol gederegistreerd als abonnee van BRP API Gebeurtenissen.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/groepen:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
    post:
      operationId: VoegGroepToe
      summary: Voeg een groep toe aan een geregistreerde abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoegGroepToeCommand'
      responses:
        '201':
          description: Groep succesvol toegevoegd aan de abonnee van BRP API Gebeurtenissen.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegGroepen
      summary: Raadpleeg de groepen van de abonnee
      tags:
        - Abonnees
      responses:
        '200':
          description: Lijst van groepen succesvol opgehaald.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegGroepenResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/groepen/{groepNaam}:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
      - $ref: '#/components/parameters/GroepNaamPathParameter'
    delete:
      operationId: VerwijderGroep
      summary: Verwijder een groep, inclusief alle abonnementen op de groep
      tags:
        - Abonnees
      responses:
        '204':
          description: Groep succesvol verwijderd van de abonnee van BRP API Gebeurtenissen.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/groepen/{groepNaam}/gebeurtenistypes:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
      - $ref: '#/components/parameters/GroepNaamPathParameter'
    post:
      operationId: VoegGebeurtenistypeToeAanGroep
      summary: Voeg een gebeurtenistype toe aan een groep van een abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoegGebeurtenistypeToeCommand'
      responses:
        '201':
          description: Gebeurtenistype succesvol toegevoegd aan de groep.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegGebeurtenistypes
      summary: Raadpleeg de gebeurtenistypes in de groep
      tags:
        - Abonnees
      responses:
        '200':
          description: Lijst van gebeurtenistypes succesvol opgehaald.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegGebeurtenistypesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/groepen/{groepNaam}/gebeurtenistypes/{gebeurtenistype}:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
      - $ref: '#/components/parameters/GroepNaamPathParameter'
      - $ref: '#/components/parameters/GebeurtenistypePathParameter'
    delete:
      operationId: VerwijderGebeurtenistype
      summary: Verwijder een gebeurtenistype uit een groep
      tags:
        - Abonnees
      responses:
        '204':
          description: Gebeurtenistype succesvol verwijderd uit de groep.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
  /abonnees/{abonneeNaam}/abonnementen:
    parameters:
      - $ref: '#/components/parameters/AbonneeNaamPathParameter'
    post:
      operationId: VoerUitAbonnementenCommand
      summary: Opdrachten voor het abonneren op gebeurtenissen. Hiermee kan je een abonnement nemen of een abonnement opzeggen.
      tags:
        - Abonnementen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbonnementenCommand'
      responses:
        '201':
          description: Abonnement(en) succesvol aangemaakt.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '204':
          description: Abonnement(en) succesvol opgezegd.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
    get:
      operationId: RaadpleegAbonnementen
      summary: Raadpleeg de lijst van abonnementen van een abonnee
      tags:
        - Abonnementen
      parameters:
        - $ref: '#/components/parameters/CursorQueryParameter'
          description: Gebruik dit voor paginering. Vul hier de id van het laatst ontvangen abonnement op om de hieropvolgende abonnementen te ontvangen.
        - $ref: '#/components/parameters/LimitQueryParameter'
          description: Geeft hier het maximaal aantal abonnementen op dat je per request kan ontvangen. Als je dit weglaat is het maximum 10.
      responses:
        '200':
          description: Lijst van abonnementen van de abonnee succesvol opgehaald.
          headers:
            API-Version:
              $ref: '#/components/headers/ApiVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaadpleegAbonnementenResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - clientCredentials: []
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://probeerbrpapi.rvig.nl/realms/brp-api/protocol/openid-connect/token
          scopes: {}
  headers:
    ApiVersion:
      description: Geeft de versie aan van de API die het request beantwoordt conform semantic versioning (major.minor.patch).
      style: simple
      schema:
        type: string
        example: 1.0.1
  schemas:
    AbonneeNaam:
      type: string
      minLength: 2
      maxLength: 64
      pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
      description: |
        De naam van de abonnee. 
        Moet voldoen aan de volgende criteria:
          - bevat alleen kleine letters (a-z), cijfers (0-9) en koppeltekens (-)
          - bevat geen dubbele koppeltekens achter elkaar (--)
          - bevat minimaal 2 en maximaal 64 tekens
          - begint en eindigt niet met een koppelteken (-)
      example: abonnee-voorbeeld-001
    Abonnee:
      type: object
      properties:
        naam:
          $ref: '#/components/schemas/AbonneeNaam'
          description: De naam van de abonnee, uniek voor een afnemer
    RaadpleegAbonneesResponse:
      type: object
      properties:
        abonnees:
          type: array
          items:
            $ref: '#/components/schemas/Abonnee'
          description: Lijst van abonnees van de afnemer
      required:
        - abonnees
    Foutbericht:
      type: object
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          type: string
          format: uri
        title:
          description: Beschrijving van de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-]{1,80}$
        status:
          type: integer
          minimum: 100
          maximum: 600
          description: Http status code
        detail:
          description: Details over de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-\(\),]{1,200}$
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          type: string
          format: uri
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
    RegistreerAbonneeCommand:
      type: object
      properties:
        naam:
          $ref: '#/components/schemas/AbonneeNaam'
      required:
        - naam
    InvalidParam:
      type: object
      description: Details over fouten in opgegeven parameters
      properties:
        type:
          type: string
          format: uri
          example: https://www.rfc-editor.org/rfc/rfc9110.html#name-500-internal-server-error
        name:
          description: Naam van de parameter
          type: string
          pattern: ^[a-zA-Z0-9\._]{1,30}$
          example: huisnummer
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
          example: integer
        reason:
          description: Beschrijving van de fout op de parameterwaarde
          type: string
          pattern: ^[a-zA-Z0-9\., ]{1,80}$
          example: Waarde is geen geldig getal.
    BadRequestFoutbericht:
      allOf:
        - $ref: '#/components/schemas/Foutbericht'
        - type: object
          properties:
            invalidParams:
              description: |
                Foutmelding per fout in een parameter. Alle gevonden fouten worden één keer teruggemeld.
              type: array
              items:
                $ref: '#/components/schemas/InvalidParam'
    GroepNaam:
      type: string
      minLength: 2
      maxLength: 64
      pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
      description: |
        De naam van de groep. 
        Moet voldoen aan de volgende criteria:
          - bevat alleen kleine letters (a-z), cijfers (0-9) en koppeltekens (-)
          - bevat geen dubbele koppeltekens achter elkaar (--)
          - bevat minimaal 2 en maximaal 64 tekens
          - begint en eindigt niet met een koppelteken (-)
      example: groep-voorbeeld-001
    Groep:
      type: object
      properties:
        naam:
          $ref: '#/components/schemas/GroepNaam'
          description: De naam van de groep
    RaadpleegGroepenResponse:
      type: object
      properties:
        groepen:
          type: array
          items:
            $ref: '#/components/schemas/Groep'
          description: Lijst van groepen van de abonnee
      required:
        - groepen
    VoegGroepToeCommand:
      type: object
      properties:
        naam:
          $ref: '#/components/schemas/GroepNaam'
      required:
        - naam
    GebeurtenisTypeVanPersoonEnum:
      type: string
      pattern: ^[a-z/-/.]{1,50}$
      enum:
        - nl.brp.verhuisd.intergemeentelijk
        - nl.brp.verhuisd.naar-buitenland
        - nl.brp.overleden
    RaadpleegGebeurtenistypesResponse:
      type: object
      properties:
        gebeurtenistypes:
          type: array
          items:
            $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
          description: Lijst van gebeurtenistypes in de groep
      required:
        - gebeurtenistypes
    VoegGebeurtenistypeToeCommand:
      type: object
      properties:
        gebeurtenistype:
          $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
      required:
        - gebeurtenistype
    Cursor:
      type: string
      format: uuid
      description: Identifier van een resource
    Limit:
      type: integer
      minimum: 1
      maximum: 100
      default: 100
      description: Het aantal resources dat in één response wordt teruggegeven.
    Burgerservicenummer:
      type: string
      title: Burgerservicenummer
      description: |
        Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene bepalingen burgerservicenummer.
      pattern: ^[0-9]{9}$
    Abonnement:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unieke identifier van het abonnement
        groep:
          $ref: '#/components/schemas/GroepNaam'
          description: De groep met gebeurtenistypes waarop de abonnee een abonnement heeft voor de persoon
        burgerservicenummer:
          $ref: '#/components/schemas/Burgerservicenummer'
          description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen ontvangt
      required:
        - id
        - groep
        - burgerservicenummer
    RaadpleegAbonnementenResponse:
      type: object
      properties:
        abonnementen:
          type: array
          items:
            $ref: '#/components/schemas/Abonnement'
          description: Lijst van abonnementen van de abonnee
      required:
        - abonnementen
    AbonnementenCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          AbonneerPersoonOpGroep: '#/components/schemas/AbonneerPersoonOpGroepCommand'
          ZegOpAbonnementVanPersoonOpGroep: '#/components/schemas/ZegOpAbonnementVanPersoonOpGroepCommand'
    AbonneerPersoonOpGroepCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          properties:
            groep:
              $ref: '#/components/schemas/GroepNaam'
              description: De groep waarop de abonnee de persoon wil abonneren
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen wil ontvangen
          required:
            - groep
            - burgerservicenummer
    ZegOpAbonnementVanPersoonOpGroepCommand:
      allOf:
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          description: Beëindigen van een abonnement voor een persoon voor een groep
          properties:
            groep:
              $ref: '#/components/schemas/GroepNaam'
              description: De groep waarop de abonnee de persoon wil abonneren
            burgerservicenummer:
              $ref: '#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee de gebeurtenissen niet meer wil ontvangen
          required:
            - groep
            - burgerservicenummer
  responses:
    '400':
      description: Bad Request
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestFoutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-400-bad-request
            title: Ten minste één parameter moet worden opgegeven.
            status: 400
            detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: paramsRequired
            invalidParams:
              - type: https://www.vng.nl/realisatie/api/validaties/integer
                name: huisnummer
                code: integer
                reason: Waarde is geen geldig getal.
    '401':
      description: Unauthorized
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-401-unauthorized
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
    '403':
      description: Forbidden
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-403-forbidden
            title: U bent niet geautoriseerd voor deze operatie.
            status: 403
            detail: The server understood the request, but is refusing to fulfill it.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: autorisation
    '404':
      description: Not Found
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-404-not-found
            title: Opgevraagde resource bestaat niet.
            status: 404
            detail: The server has not found anything matching the Request-URI.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notFound
    '409':
      description: Conflict
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-409-conflict
            title: Conflict
            status: 409
            detail: The request could not be completed due to a conflict with the current state of the resource
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: conflict
    '500':
      description: Internal Server Error
      headers:
        API-Version:
          $ref: '#/components/headers/ApiVersion'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.rfc-editor.org/rfc/rfc9110.html#name-500-internal-server-error
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
  parameters:
    AbonneeNaamPathParameter:
      name: abonneeNaam
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/AbonneeNaam'
        description: De naam van de abonnee
    GroepNaamPathParameter:
      name: groepNaam
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GroepNaam'
        description: De naam van de abonnee
    GebeurtenistypePathParameter:
      name: gebeurtenistype
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GebeurtenisTypeVanPersoonEnum'
    CursorQueryParameter:
      name: cursor
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Cursor'
      description: Cursor query parameter die gebruikt kan worden voor paginering.
    LimitQueryParameter:
      name: limit
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Limit'
      description: Limit query parameter die gebruikt kan worden voor paginering.
