openapi: 3.1.0
info:
  title: Gebeurtenissen Publiceren API specificatie
  version: 1.0.0
paths:
  /personen/gebeurtenissen:
    post: 
      operationId: PubliceerGebeurtenis
      summary: Publiceer een persoon gebeurtenis
      requestBody: 
        content:
          application/json:
            schema:
              $ref: '../brp/gebeurtenissen/gebeurtenis-v1.yaml#/components/schemas/Gebeurtenis'
      responses:
        '201':
          description: Gebeurtenis succesvol gepubliceerd