openapi: 3.1.2
info:
  title: Gebeurtenissen Bevragen API specificatie
  version: 1.0.0
servers:
  - url: https://probeerbrpapi.rvig.nl/api/brp
    description: BRP APIs probeeromgeving
paths:
  /abonnees/{abonneeNaam}/gebeurtenissen:
    get:
      operationId: BevraagGebeurtenis
      summary: Bevragen van de oudste ongelezen gebeurtenis
      tags:
        - Gebeurtenissen
      parameters:
        - name: abonneeNaam
          in: path
          required: true
          schema:
            $ref: '../brp-api/abonnee/naam-v1.yaml#/components/schemas/AbonneeNaam'
        - $ref: '../paginering/cursor-query-parameter-v1.yaml#/components/parameters/CursorQueryParameter'
          description: Geef de id van de laatst ontvangen gebeurtenis op om de volgende ongelezen gebeurtenissen te ontvangen. Cursor moet een geldige id van een gebeurtenis zijn.
        - $ref: '../paginering/limit-query-parameter-v1.yaml#/components/parameters/LimitQueryParameter'
          description: Aantal te retourneren gebeurtenissen
      responses:
        '200':
          description: Het gevraagde aantal gebeurtenissen is succesvol opgehaald en geleverd
          headers:
            API-Version:
              $ref: '../headers/api-version-v1.yaml#/components/headers/ApiVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GebeurtenissenBevragenResponse'
        '400':
          $ref: '../problem-details/400-bad-request-response-v1.yaml#/components/responses/400'
        '401':
          $ref: '../problem-details/401-unauthorized-response-v1.yaml#/components/responses/401'
        '403':
          $ref: '../problem-details/403-forbidden-response-v1.yaml#/components/responses/403'
        '404':
          $ref: '../problem-details/404-not-found-response-v1.yaml#/components/responses/404'
        '500':
          $ref: '../problem-details/500-internal-server-error-response-v1.yaml#/components/responses/500'
      security:
        - clientCredentials: []

components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://probeerbrpapi.rvig.nl/realms/brp-api/protocol/openid-connect/token
          scopes: {}

  schemas:
    GebeurtenissenBevragenResponse:
      type: object
      properties:
        gebeurtenissen:
          type: array
          items:
            $ref: '../brp-api/gebeurtenissen/gebeurtenis-v1.yaml#/components/schemas/Gebeurtenis'
          minItems: 0
          maxItems: 10
