openapi: 3.1.0
info:
  title: Gebeurtenissen Publiceren API specificatie
  version: 1.0.0
paths:
  /personen/gebeurtenissen:
    post:
      operationId: PubliceerGebeurtenis
      summary: Publiceer een persoon gebeurtenis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gebeurtenis'
      responses:
        '201':
          description: Gebeurtenis succesvol gepubliceerd
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    Gebeurtenis:
      allOf:
        - $ref: '#/components/schemas/CloudEvent'
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          nl.brp.verhuisd.intergemeentelijk: '#/components/schemas/VerhuisdIntergemeentelijk'
    Anummer:
      type: string
      title: A-nummer
      description: |
        Het administratienummer, bedoeld in artikel 4.9 van de Wet BRP.
        - Groep: Identificatienummers (01)
        - Element: A-nummer (01.10)
      pattern: ^(?!.*([0-9])\\1)[1-9][0-9]{9}$
    AnummerIdentificatieNummers:
      type: object
      description: |
        Identificatienummers groep met a-nummer veld.
      properties:
        e0110:
          $ref: '#/components/schemas/Anummer'
    AnummerIdentificatieNummersPersoon:
      type: object
      properties:
        g01:
          $ref: '#/components/schemas/AnummerIdentificatieNummers'
    DatumAanvangAdreshouding:
      type: string
      title: Datum aanvang adreshouding
      description: |
        De datum van aangifte of ambtshalve melding van verblijf en adres. Bij een tijdige aangifte (tussen vier weken voor en vijf dagen na de verhuizing) van vestiging op het adres is dit de in de aangifte vermelde datum van adreswijziging. Bij een niet tijdige aangifte is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop de betrokkene schriftelijk van het voornemen van ambtshalve opneming mededeling is gedaan.
        - Groep: Adreshouding (10)
        - Element: Datum aanvang adreshouding (10.30)
      pattern: ^(18|19|20|21|22)[0-9]{2}((0[1-9]|1[0-2])((0[1-9]|[12][0-9]|3[01])|00)|0000)|00000000$
    DatumAanvangAdreshoudingAdreshouding:
      type: object
      description: |
        Adreshouding groep met datum aanvang adreshouding veld.
      properties:
        e1030:
          $ref: '#/components/schemas/DatumAanvangAdreshouding'
    AdresseerbaarObjectIdentificatie:
      type: string
      title: Identificatiecode verblijfplaats
      description: |
        De identificatiecode van een adresseerbaar object.
      pattern: ^[0-9]{16}$
    AdresseerbaarObjectIdentificatieAdres:
      type: object
      description: |
        Adres groep met adresseerbaar object identificatie veld.
      properties:
        e1180:
          $ref: '#/components/schemas/AdresseerbaarObjectIdentificatie'
    Locatiebeschrijving:
      type: string
      title: Locatiebeschrijving
      minLength: 1
      maxLength: 35
      description: |
        Een geheel of gedeeltelijke omschrijving van de ligging van een object, indien dit niet kan worden aangegeven in de groep 11 Adres.
        - Groep: Locatie (12)
        - Element: Locatiebeschrijving (12.10)
    LocatiebeschrijvingLocatie:
      type: object
      description: |
        Locatie groep met locatiebeschrijving veld.
      properties:
        e1210:
          $ref: '#/components/schemas/Locatiebeschrijving'
    VerhuisdIntergemeentelijkData:
      type: object
      properties:
        c01:
          $ref: '#/components/schemas/AnummerIdentificatieNummersPersoon'
        c08:
          type: object
          properties:
            g10:
              $ref: '#/components/schemas/DatumAanvangAdreshoudingAdreshouding'
            g11:
              $ref: '#/components/schemas/AdresseerbaarObjectIdentificatieAdres'
            g12:
              $ref: '#/components/schemas/LocatiebeschrijvingLocatie'
    VerhuisdIntergemeentelijk:
      allOf:
        - $ref: '#/components/schemas/Gebeurtenis'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/VerhuisdIntergemeentelijkData'
    typedef:
      type: string
      minLength: 1
    datadef:
      type:
        - object
        - string
        - number
        - array
        - boolean
        - 'null'
    CloudEvent:
      type: object
      properties:
        type:
          description: |
            Describes the type of event related to the originating occurrence.
          $ref: '#/components/schemas/typedef'
        data:
          description: |
            The event payload.
          $ref: '#/components/schemas/datadef'
    Foutbericht:
      type: object
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          type: string
          format: uri
        title:
          description: Beschrijving van de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-]{1,80}$
        status:
          type: integer
          minimum: 100
          maximum: 600
          description: Http status code
        detail:
          description: Details over de fout
          type: string
          pattern: ^[a-zA-Z0-9À-ž \.\-\(\),]{1,200}$
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          type: string
          format: uri
        code:
          description: Systeemcode die het type fout aangeeft
          type: string
          pattern: ^[a-zA-Z0-9]{1,25}$
  responses:
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
    '403':
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
            title: U bent niet geautoriseerd voor deze operatie.
            status: 403
            detail: The server understood the request, but is refusing to fulfill it.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: autorisation
    '500':
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
