openapi: 3.1.0
info:
  title: Gebeurtenissen Publiceren API specificatie
  version: 1.0.0
paths:
  /personen/gebeurtenissen:
    post:
      operationId: PubliceerGebeurtenis
      summary: Publiceer een persoon gebeurtenis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gebeurtenis'
      responses:
        '201':
          description: Gebeurtenis succesvol gepubliceerd
components:
  schemas:
    Gebeurtenis:
      allOf:
        - $ref: '#/components/schemas/CloudEvent'
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          nl.brp.verhuisd.intergemeentelijk: '#/components/schemas/VerhuisdIntergemeentelijk'
    Anummer:
      type: string
      title: A-nummer
      description: |
        Het administratienummer, bedoeld in artikel 4.9 van de Wet BRP.
        - Groep: Identificatienummers (01)
        - Element: A-nummer (01.10)
      pattern: ^(?!.*([0-9])\\1)[1-9][0-9]{9}$
    AnummerIdentificatieNummers:
      type: object
      description: |
        Identificatienummers groep met a-nummer veld.
      properties:
        e0110:
          $ref: '#/components/schemas/Anummer'
    AnummerIdentificatieNummersPersoon:
      type: object
      properties:
        g01:
          $ref: '#/components/schemas/AnummerIdentificatieNummers'
    DatumAanvangAdreshouding:
      type: string
      title: Datum aanvang adreshouding
      description: |
        De datum van aangifte of ambtshalve melding van verblijf en adres. Bij een tijdige aangifte (tussen vier weken voor en vijf dagen na de verhuizing) van vestiging op het adres is dit de in de aangifte vermelde datum van adreswijziging. Bij een niet tijdige aangifte is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop de betrokkene schriftelijk van het voornemen van ambtshalve opneming mededeling is gedaan.
        - Groep: Adreshouding (10)
        - Element: Datum aanvang adreshouding (10.30)
      pattern: ^(18|19|20|21|22)[0-9]{2}((0[1-9]|1[0-2])((0[1-9]|[12][0-9]|3[01])|00)|0000)|00000000$
    DatumAanvangAdreshoudingAdreshouding:
      type: object
      description: |
        Adreshouding groep met datum aanvang adreshouding veld.
      properties:
        e1030:
          $ref: '#/components/schemas/DatumAanvangAdreshouding'
    AdresseerbaarObjectIdentificatie:
      type: string
      title: Identificatiecode verblijfplaats
      description: |
        Een verblijfplaats kan een ligplaats, een standplaats of een verblijfsobject in een of meerdere panden zijn, waaraan respectievelijk een ligplaatsidentificatie, standplaatsidentificatie of verblijfsobjectidentificatie is toegekend.
        De Identificatiecode verblijfplaats is een combinatie van een viercijferige gemeentecode, een tweecijferige objecttypecode die aangeeft of de aanduiding een verblijfsobject (01), ligplaats (02) of standplaats (03) betreft en een voor het betreffende objecttype binnen een gemeente uniek tiencijferig volgnummer.
        - Groep: Adres (11)
        - Element: Identificatiecode verblijfplaats (11.80)
      pattern: ^[0-9]{16}$
    AdresseerbaarObjectIdentificatieAdres:
      type: object
      description: |
        Adres groep met adresseerbaar object identificatie veld.
      properties:
        e1180:
          $ref: '#/components/schemas/AdresseerbaarObjectIdentificatie'
    Locatiebeschrijving:
      type: string
      title: Locatiebeschrijving
      minLength: 1
      maxLength: 35
      description: |
        Een geheel of gedeeltelijke omschrijving van de ligging van een object, indien dit niet kan worden aangegeven in de groep 11 Adres.
        - Groep: Locatie (12)
        - Element: Locatiebeschrijving (12.10)
    LocatiebeschrijvingLocatie:
      type: object
      description: |
        Locatie groep met locatiebeschrijving veld.
      properties:
        e1210:
          $ref: '#/components/schemas/Locatiebeschrijving'
    VerhuisdIntergemeentelijkData:
      type: object
      properties:
        c01:
          $ref: '#/components/schemas/AnummerIdentificatieNummersPersoon'
        c08:
          type: object
          properties:
            g10:
              $ref: '#/components/schemas/DatumAanvangAdreshoudingAdreshouding'
            g11:
              $ref: '#/components/schemas/AdresseerbaarObjectIdentificatieAdres'
            g12:
              $ref: '#/components/schemas/LocatiebeschrijvingLocatie'
    VerhuisdIntergemeentelijk:
      allOf:
        - $ref: '#/components/schemas/Gebeurtenis'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/VerhuisdIntergemeentelijkData'
    typedef:
      type: string
      minLength: 1
    datadef:
      type:
        - object
        - string
        - number
        - array
        - boolean
        - 'null'
    CloudEvent:
      type: object
      properties:
        type:
          description: |
            Describes the type of event related to the originating occurrence.
          $ref: '#/components/schemas/typedef'
        data:
          description: |
            The event payload.
          $ref: '#/components/schemas/datadef'
