services:
  axonserver:
    image: axoniq/axonserver
    container_name: axonserver
    ports:
      - "8024:8024" # Axon Server dashboard
      - "8124:8124" # Axon messaging port
    environment:
      - AXONIQ_AXONSERVER_STANDALONE=true
    networks:
      - brp-api-network

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    environment:
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://keycloak:8080/health/ready" ]
      interval: 15s
      timeout: 2s
      retries: 15
    command: ["start-dev", "--http-port", "8080", "--https-port", "7443", "--import-realm"]
    ports:
      - "8080:8080"
      - "7443:7443"
    networks:
        - brp-api-network
    volumes:
      - ./realm.json:/opt/keycloak/data/import/realm.json

  postgres:
    container_name: db
    image: db
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5432:5432
    networks:
      - brp-api-network

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@haalcentraal.nl
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - 5433:80
    security_opt:
      - no-new-privileges:true
    networks:
      - brp-api-network

  mutatie-service:
    image: ghcr.io/brp-api/gebeurtenis-mutatie-service:latest
    container_name: mutatie-service
    ports:
      - "8000:8090"
    environment:
      - GEBEURTENIS-PUBLICEREN_BASE-URL=http://publiceren-service:8080/personen/gebeurtenissen
      - GEBEURTENIS-PUBLICEREN_AUTH=Bearer some-token-value
    networks:
      - brp-api-network

  publiceren-service:
    image: ghcr.io/brp-api/gebeurtenissen:latest
    container_name: publiceren-service
    depends_on:
      - axonserver
    ports:
      - "8001:8080"
    environment:
      - AXON_AXONSERVER_SERVERS=axonserver:8124
    networks:
      - brp-api-network

  bevragen-service:
    image: ghcr.io/brp-api/gebeurtenis-bevragen-service:latest
    container_name: bevragen-service
    depends_on:
      - axonserver
      - postgres
    ports:
      - "8002:8082"
    environment:
      - AXON_AXONSERVER_SERVERS=axonserver:8124
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/rvig_haalcentraal_testdata
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    networks:
      - brp-api-network

  abonnementen-service:
    image: ghcr.io/brp-api/gebeurtenis-abonnementen-service:latest
    container_name: abonnementen-service
    depends_on:
      - keycloak
      - axonserver
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - AXON_AXONSERVER_SERVERS=axonserver:8124
    ports:
      - "8003:8084"
    networks:
      - brp-api-network
  
networks:
  brp-api-network:
    name: brp-api-network