openapi: 3.1.2
info:
  title: Gebeurtenis Abonnementen API Specificatie
  version: 1.0.0
servers:
  - url: https://probeerbrpapi.rvig.nl/api/brp
    description: BRP APIs probeeromgeving
paths:
  /abonnees:
    post:
      operationId: RegistreerAbonnee
      summary: Registreer een geauthenticeerde afnemer als nieuwe abonnee van BRP API Gebeurtenissen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistreerAbonneeCommand'
      responses:
        '201':
          description: Afnemer succesvol geregistreerd als abonnee van BRP API Gebeurtenissen.
        '401':
          $ref: '../problem-details/401-unauthorized-response-v1.yaml#/components/responses/401'
        '409':
          $ref: '../problem-details/409-conflict-response-v1.yaml#/components/responses/409'
        '500':
          $ref: '../problem-details/500-internal-server-error-response-v1.yaml#/components/responses/500'
      security:
        - clientCredentials: []

  /abonnees/{abonneeNaam}/abonnementen:
    parameters:
      - name: abonneeNaam
        in: path
        required: true
        schema:
          $ref: '../brp-api/abonnee/naam-v1.yaml#/components/schemas/AbonneeNaam'
    post: 
      operationId: AbonneerOpGebeurtenisTypeVanPersoon
      summary: Abonneer de abonnee op één of meerdere gebeurtenistypen
      tags:
        - Abonnees
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/AbonneerOpGebeurtenisTypeVanPersoonCommand'
      responses: 
        '201':
          description: Abonnement(en) succesvol aangemaakt.
        '401':
          $ref: '../problem-details/401-unauthorized-response-v1.yaml#/components/responses/401'
        '500':
          $ref: '../problem-details/500-internal-server-error-response-v1.yaml#/components/responses/500'
      security:
        - clientCredentials: []

components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://probeerbrpapi.rvig.nl/realms/brp-api/protocol/openid-connect/token
          scopes: {}

  schemas:
    AbonneeCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          RegistreerAbonnee: '#/components/schemas/RegistreerAbonneeCommand'
    RegistreerAbonneeCommand:
      allOf:
        - $ref: '#/components/schemas/AbonneeCommand'
        - type: object
          properties:
            abonneeNaam:
              $ref: '../brp-api/abonnee/naam-v1.yaml#/components/schemas/AbonneeNaam'
          required:
            - abonneeNaam
    AbonnementenCommand:
      type: object
      properties:
        type:
          type: string
      required:
        - type
      discriminator: 
        propertyName: type
        mapping: 
          AbonneerOpGebeurtenisTypeVanPersoon: '#/components/schemas/AbonneerOpGebeurtenisTypeVanPersoonCommand'
    AbonneerOpGebeurtenisTypeVanPersoonCommand:
      allOf: 
        - $ref: '#/components/schemas/AbonnementenCommand'
        - type: object
          properties:
            gebeurtenisType:
              type: string
              pattern: ^[a-z/-/.]{1,50}$
              description: Het gebeurtenistype waarop de abonnee zich wil abonneren
            burgerservicenummer:
              $ref: '../brp/identificatienummers/burgerservicenummer-v1.yaml#/components/schemas/Burgerservicenummer'
              description: Het burgerservicenummer (BSN) van de persoon waarvoor de abonnee gebeurtenissen van het opgegeven type wil ontvangen
          required:
            - gebeurtenisType
            - burgerservicenummer
